extensions/bits-oasis/1.0/rng/BITS-bookcustom-models1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Book Interchange DTD Customize Content and -->
<!-- Attributes Module -->
<!-- VERSION:   BITS 1.0 -->
<!-- DATE:      December 2013 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD BITS Book Interchange DTD Customize Content and Attributes Module v1.0 20131225//EN"
  Delivered as file "BITS-bookcustom-models1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride the content models, parts of content -->
<!-- models, or attribute lists of the JATS DTD Suite -->
<!---->
<!-- Or-groups within models should use mixes or -->
<!-- classes rather than name elements directly. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created as a superset customization -->
<!-- of the ANSI/NISO JATS Z39.96-2012 Version 1.0 -->
<!-- Journal Article Tag Set. -->
<!---->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of books or book-like -->
<!-- material for archiving and transferring -->
<!-- such material between archives or they may create -->
<!-- a custom XML DTD from the BITS Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and new DTD-specific customization -->
<!-- modules to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the BITS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Book Interchange Tag Suite (BITS). -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Book Interchange Tag Suite -->
<!-- (BITS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- April 2012 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National -->
<!-- National Center for Biotechnology Information -->
<!-- (NCBI), a center of the US National Library of -->
<!-- Medicine (NLM). -->
<!---->
<!-- The BITS Book Interchange DTD is built from the -->
<!-- Journal Archiving and Interchange DTD of the -->
<!-- ANSI/NISO Journal Article Tag Suite (JATS) -->
<!-- Version 1.1d1 (Z39.96-2012). -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- bits@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- DTD VERSION -->
<!--
  What version of this DTD was used to make
  the document instance under consideration.
  Note that this is a fixed value that should
  change every time the DTD changes versions or
  revisions.
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="dtd-version">
    <optional>
      <attribute name="dtd-version" a:defaultValue="1.0">
        <value type="string" datatypeLibrary="">1.0</value>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- INLINE MIXES TO OVER-RIDE CONTENT MODELS -->
  <!--                     (ELEMENTS TO BE ADDED TO #PCDATA IN MODELS) -->
  <!-- ============================================================= -->
  <!-- ABBREVIATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <abbrev> element
  -->
  <define name="abbrev-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="def.class"/>
    </choice>
  </define>
  <!-- AFFILIATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <aff> element
  -->
  <define name="aff-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- ALTERNATE TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a paragraph <alt-title>.
    Note that for alternate titles, unlike
    other titles, the <label> element must be
    builtin and is not outside the title.
  -->
  <define name="alt-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- ANONYMOUS ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <anonymous> element
  -->
  <define name="anonymous-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- ARTICLE TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <article-title> element.
  -->
  <define name="article-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- CHEMICAL STRUCTURE ELEMENTS -->
  <!--
    Those elements that may mix with the data
    characters inside a Chemical Structure
    <chem-struct>
  -->
  <define name="chem-struct-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="id.class"/>
      <ref name="label.class"/>
      <ref name="list.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- CITATION ELEMENTS -->
  <!--
    Content for both types of citation. These
    elements may be mixed with #PCDATA in the
    <mixed-citation> element (in which all
    punctuation and spacing are left intact), and
    they also constitute the choices that can be
    used to form the all-element-content of the
    <element-citation> element (in which
    punctuation and spacing are removed).
    Design Note: All inline mixes begin with an
    OR bar.
  -->
  <define name="citation-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="citation-additions.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COLLABORATIVE (GROUP) AUTHOR ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <collab> element. This is essentially
    %all-phrase; plus contrib-info and break.
    All-phase is not used because of
    duplication clashes with the
    -contrib-info.class;
  -->
  <define name="collab-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="address.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="contrib-group.class"/>
      <ref name="contrib-info.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COMPOUND KEYWORD PART ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the <compound-kwd-part> element
  -->
  <define name="compound-kwd-part-elements">
    <choice>
      <ref name="break.class"/>
      <ref name="all-phrase"/>
    </choice>
  </define>
  <!-- CONFERENCE DATE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <conf-date> element
  -->
  <define name="conf-date-elements">
    <choice>
      <ref name="date-parts.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COMMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Comment in a Citation <comment> element.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="comment-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- COPYRIGHT HOLDER ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <copyright-holder> element.
  -->
  <define name="copyright-holder-elements">
    <choice>
      <ref name="institution-wrap.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COPYRIGHT STATEMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <copyright-statement>
  -->
  <define name="copyright-statement-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- CORRESPONDENCE INFORMATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the correspondence information.
  -->
  <define name="corresp-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- COUNTRY ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the country element.
  -->
  <define name="country-elements">
    <ref name="x.class"/>
  </define>
  <!-- DATE IN CITATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Date Inside Citation <date-in-citation>
    element
  -->
  <define name="date-in-citation-elements">
    <choice>
      <ref name="date-parts.class"/>
      <ref name="emphasis.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- FORMULA, DISPLAY ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <disp-formula>
  -->
  <define name="disp-formula-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="abstract.class"/>
      <ref name="access.class"/>
      <ref name="break.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="kwd-group.class"/>
      <ref name="label.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- EMAIL ADDRESS ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <email> element
  -->
  <define name="email-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- ET AL ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <etal> element
  -->
  <define name="etal-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- EXTERNAL LINK ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <ext-link>
  -->
  <define name="ext-link-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- FUNDING STATEMENT ELEMENTS -->
  <!-- Model for the <funding-statement> element -->
  <define name="funding-statement-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="funding.class"/>
    </choice>
  </define>
  <!-- FORMULA, INLINE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <inline-formula> element.
  -->
  <define name="inline-formula-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- INLINE SUPPLEMENTARY MATERIAL ELEMENTS -->
  <!--
                        The elements that can be included along with
    data characters inside the content model of
    the <inline-supplementary-material> element
  -->
  <define name="inline-supplementary-material-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
    </choice>
  </define>
  <!-- INSTITUTION NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <institution> element
  -->
  <define name="institution-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- ISBN ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <isbn> element
  -->
  <define name="isbn-elements">
    <ref name="x.class"/>
  </define>
  <!-- ISSN ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issn> element
  -->
  <define name="issn-elements">
    <ref name="x.class"/>
  </define>
  <!-- ISSN-L ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issn-l> element
  -->
  <define name="issn-l-elements">
    <ref name="x.class"/>
  </define>
  <!-- ISSUE TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <issue-title> element
  -->
  <define name="issue-title-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- KEYWORD CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a keyword.
  -->
  <define name="kwd-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LABEL ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <label> element
  -->
  <define name="label-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LINK ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    linking element such as <xref>, <target>,
    and <ext-link>
  -->
  <define name="link-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LONG DESCRIPTION ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the <long-desc> element
  -->
  <define name="long-desc-elements">
    <ref name="x.class"/>
  </define>
  <!-- METADATA DATA NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <meta-name> element
  -->
  <define name="meta-name-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- METADATA DATA VALUE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <meta-value> element
  -->
  <define name="meta-value-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- NAMED CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <named-content> element
  -->
  <define name="named-content-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- PARAGRAPH ELEMENTS -->
  <!--
    Elements that may be used within a paragraph
    in a mixed content model with #PCDATA.
    Design Note: There is a major overlap between
    this parameter entity and the mix for elements
    that are at the same level as a paragraph.
    Inline elements appear only inside a
    paragraph, but block elements such as quotes
    and lists may appear either within a
    paragraph or at the same level as a
    paragraph. This serves a requirement in a
    repository DTD, since some incoming material
    will have restricted such elements to only
    inside a paragraph, some incoming material
    will have restricted them to only outside a
    paragraph and some may allow them in both
    places. Thus the DTD must allow for them to
    be in either or both.
  -->
  <define name="p-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="citation.class"/>
      <ref name="funding.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- PERSON GROUP ELEMENTS -->
  <!--
                        Elements to be mixed with #PCDATA characters
    within the Person Group element
    (name class include <string-name> in this
    tag set.
  -->
  <define name="person-group-elements">
    <choice>
      <ref name="name.class"/>
      <ref name="person-group-info.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- PREFORMATTED TEXT ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters, inside the content model for the
    <preformat> element, in which white space,
    such as tabs, line feeds, and spaces will
    be preserved.
  -->
  <define name="preformat-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
      <ref name="display-back-matter.class"/>
    </choice>
  </define>
  <!-- PRODUCT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <product> element
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.
  -->
  <define name="product-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="citation-additions.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="price.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- PUBLISHER'S LOCATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <publisher-loc> element
  -->
  <define name="publisher-loc-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- RELATED ARTICLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <related-article> element.
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.)
  -->
  <define name="related-article-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="citation-additions.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="journal-id.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- RELATED OBJECT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <related-object> element.
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.)
  -->
  <define name="related-object-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="citation-additions.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- ROLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <role>
    Design Note: All inline mixes begin with an
    OR bar; since %rendition-plus; is an
    inline mix, the OR bar is already there.
  -->
  <define name="role-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- SELF-URI ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <self-uri> element
  -->
  <define name="self-uri-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- SIGNATURE BLOCK ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <sig-block> element.
  -->
  <define name="sig-block-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="contrib.class"/>
      <ref name="just-base-display-noalt.class"/>
      <ref name="person-group-info.class"/>
      <ref name="sig.class"/>
    </choice>
  </define>
  <!-- SIGNATURE ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <sig> element.
  -->
  <define name="sig-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="just-base-display-noalt.class"/>
    </choice>
  </define>
  <!-- SIZE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the size element.
  -->
  <define name="size-elements">
    <ref name="x.class"/>
  </define>
  <!-- SOURCE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <source> element
  -->
  <define name="source-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- SPEAKER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a speaker.
  -->
  <define name="speaker-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="person-name.class"/>
    </choice>
  </define>
  <!-- STANDARDS ORGANIZATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <std-organization>.
  -->
  <define name="std-organization-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="institution-wrap.class"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- STRING DATE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <string-date> element
  -->
  <define name="string-date-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="date-parts.class"/>
    </choice>
  </define>
  <!-- STRING NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <string-name> element
  -->
  <define name="string-name-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="person-name.class"/>
    </choice>
  </define>
  <!-- STRUCTURAL TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <title> element
  -->
  <define name="struct-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="citation.class"/>
    </choice>
  </define>
  <!-- STYLED CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <styled-content> element
  -->
  <define name="styled-content-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- SUBJECT GROUPING NAME ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters inside the content model of the
    <subject> element
  -->
  <define name="subject-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- SUPPLEMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <supplement>
    JATS Chg: Added <label>, because there is
    a title and all title may take labels.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an inline
    mix, the OR bar is already there.
  -->
  <define name="supplement-elements">
    <choice>
      <ref name="simple-text"/>
      <ref name="contrib-group.class"/>
      <ref name="label.class"/>
      <ref name="title.class"/>
    </choice>
  </define>
  <!-- DEFINITION LIST: TERM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <term>.
  -->
  <define name="term-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-math.class"/>
      <ref name="chem-struct-wrap.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- TEXTUAL FORM ELEMENTS -->
  <!--
    Model for the <textual-form> element.
    Added <label>
  -->
  <define name="textual-form-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    title elements such as <title>, <subtitle>,
    <trans-title>, etc.
  -->
  <define name="title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- USER SPECIFIC AD-HOC METADAT ELEMENTS -->
  <!--
    An empty parameter entity to hold 
    user-specified ad-hoc metadata. This is
    an escape hatch to allow any other metadata
    elements inside a BITS document.
    Design Note: All inline mixes begin with an
    OR bar.
  -->
  <define name="user-specific-meta-elements">
    <notAllowed/>
  </define>
  <!-- VERSE-LINE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <verse-line>
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an inline
    mix, the OR bar is already there.
  -->
  <define name="verse-line-elements">
    <ref name="simple-text"/>
  </define>
  <!-- X ELEMENTS -->
  <!-- Elements for use inside the <x> element -->
  <define name="x-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- DUPLICATES NEEDED FOR OVER-RIDES -->
  <!-- (models unchanged from common.ent but -->
  <!-- needed below) -->
  <!-- ============================================================= -->
  <!-- CONTENT MODEL FOR AN UNTITLED SECTION -->
  <!--
    The model for a section-like structure that
    may or may not have an initial title
  -->
  <define name="sec-opt-title-model">
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF CONTENT MODELS (FULL MODELS) -->
  <!-- ============================================================= -->
  <!-- ACKNOWLEDGMENTS MODEL -->
  <!-- Content model for the <ack> element -->
  <define name="ack-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- ADDRESS MODEL -->
  <!-- Content model for the <address> element -->
  <define name="address-model">
    <zeroOrMore>
      <choice>
        <ref name="address.class"/>
        <ref name="address-link.class"/>
        <ref name="label.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- APPENDIX MODEL -->
  <!--
    Content model for the <app> element. The
    section model already contains parentheses.
    Made initial <title> optional.
  -->
  <define name="app-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
    <optional>
      <ref name="permissions"/>
    </optional>
  </define>
  <!-- APPENDIX GROUP MODEL -->
  <!-- Content model for the <app-group> element -->
  <define name="app-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="app.class"/>
        <ref name="ref-list.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- AUTHOR COMMENT MODEL -->
  <!--
    Content model for the <author-comment>
    element. 
    JATS Chg: Added <label>.
  -->
  <define name="author-comment-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- AUTHOR NOTES MODEL -->
  <!-- Content model for an <author-notes> element. -->
  <define name="author-notes-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="corresp.class"/>
        <ref name="fn-link.class"/>
        <ref name="just-para.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- BIOGRAPHY MODEL -->
  <!-- Content model for the <bio> element -->
  <define name="bio-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- CONFERENCE MODEL -->
  <!-- Content model for the <conference> element -->
  <define name="conference-model">
    <zeroOrMore>
      <choice>
        <ref name="conference.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- CONTRIBUTOR GROUP MODEL -->
  <!--                     Content model for the <title-group> element -->
  <define name="contrib-group-model">
    <oneOrMore>
      <choice>
        <ref name="contrib.class"/>
        <ref name="contrib-info.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- CONTRIBUTOR MODEL -->
  <!-- Content model for the <contrib> element -->
  <define name="contrib-model">
    <zeroOrMore>
      <choice>
        <ref name="contrib-id.class"/>
        <ref name="name.class"/>
        <ref name="degree.class"/>
        <ref name="contrib-info.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- CUSTOM METADATA GROUP MODEL -->
  <!--
    Content model for the <custom-meta-group>
    element.
    JATS Chg: Added the parameter entity
    user-specific-meta-elements.
  -->
  <define name="custom-meta-group-model">
    <oneOrMore>
      <choice>
        <ref name="custom-meta"/>
        <ref name="user-specific-meta-elements"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- DEFINITION LIST: DEFINITION ITEM MODEL -->
  <!-- Content model of a <def-item> -->
  <define name="def-item-model">
    <optional>
      <ref name="label"/>
    </optional>
    <zeroOrMore>
      <ref name="term"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="def.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- DEFINITION LIST MODEL -->
  <!-- Content model for the <def-list> element -->
  <define name="def-list-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <optional>
      <ref name="term-head"/>
    </optional>
    <optional>
      <ref name="def-head"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="def-item.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="def-list.class"/>
    </zeroOrMore>
  </define>
  <!-- FIGURE GROUP MODEL -->
  <!-- Content model for a Figure Group element -->
  <define name="fig-group-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="fig-display.class"/>
        <ref name="just-base-display.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- FOOTNOTE GROUP MODEL -->
  <!--
    Content model for the <fn-group> element
    Added an <x> as alternative to <fn>.
  -->
  <define name="fn-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="fn-link.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- KEYWORD GROUP MODEL -->
  <!-- Content model for a <kwd-group> element -->
  <define name="kwd-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <choice>
      <oneOrMore>
        <choice>
          <ref name="kwd.class"/>
          <ref name="x.class"/>
        </choice>
      </oneOrMore>
      <ref name="unstructured-kwd-group.class"/>
    </choice>
  </define>
  <!-- LIST MODEL -->
  <!-- Content model for the <list> element -->
  <define name="list-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="list-item.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- NOTES MODEL -->
  <!-- Content model for the <notes> element -->
  <define name="notes-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- PUBLICATION DATE MODEL -->
  <!-- Content model for the element <pub-date> -->
  <define name="pub-date-model">
    <oneOrMore>
      <choice>
        <ref name="date-parts.class"/>
        <ref name="string-date.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- RUBY WRAPPER Model -->
  <!-- Content model for the <ruby> element -->
  <define name="ruby-model">
    <ref name="rb"/>
    <oneOrMore>
      <choice>
        <ref name="rt"/>
        <group>
          <ref name="rp"/>
          <ref name="rt"/>
          <ref name="rp"/>
        </group>
      </choice>
    </oneOrMore>
  </define>
  <!-- REFERENCE ITEM MODEL -->
  <!-- Content model for the <ref> element -->
  <define name="ref-model">
    <optional>
      <ref name="label"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="citation.class"/>
        <ref name="note.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- REFERENCE LIST MODEL -->
  <!-- Content model for the <ref-list> element -->
  <define name="ref-list-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="para-level"/>
        <ref name="ref.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ref-list.class"/>
    </zeroOrMore>
  </define>
  <!-- CONTENT MODEL FOR A STRUCTURAL SECTION -->
  <!--
    The model for a section that requires that a
    either <title> or a <label> (which in some
    journals takes the place of a title) must be
    present. One or the other must be present
    for autogeneration of a Table of Contents or
    other navigation.                   
    Chg from Archiving: added <subtitle> and
    <alt-title> for, for example, ToC title.
  -->
  <define name="sec-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
  </define>
  <!-- STATEMENT, FORMAL MODEL -->
  <!-- Content model for the <statement> element -->
  <define name="statement-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
    <zeroOrMore>
      <ref name="display-back-matter.class"/>
    </zeroOrMore>
  </define>
  <!-- TABLE WRAPPER GROUP MODEL -->
  <!--
    Content model for the <table-wrap-group>
    element
  -->
  <define name="table-wrap-group-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="caption"/>
    </optional>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <oneOrMore>
      <ref name="just-table.class"/>
    </oneOrMore>
  </define>
  <!-- TABLE WRAP FOOTER MODEL -->
  <!--
    Content model for the <table-wrap-foot>
    element
  -->
  <define name="table-wrap-foot-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="just-para.class"/>
        <ref name="fn-group.class"/>
        <ref name="fn-link.class"/>
        <ref name="display-back-matter.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- TITLE GROUP MODEL -->
  <!--
    Content model for the <title-group> element,
    which is used for collections, book parts,
    and structural models such as Index and Table
    of Contents.
  -->
  <define name="title-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans-title-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <optional>
      <ref name="fn-group"/>
    </optional>
  </define>
  <!-- TRANSLATED ABSTRACT MODEL -->
  <!-- Content model for an <trans-abstract> element. -->
  <define name="trans-abstract-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- TRANSLATED TITLE GROUP MODEL -->
  <!--
    Content model for the element
    <trans-title-group>                        
    JATS Chg: Added optional <label>.
  -->
  <define name="trans-title-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <ref name="trans-title"/>
    <zeroOrMore>
      <ref name="trans-subtitle"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- DUPLICATE ATTRIBUTE DECLARATIONS -->
  <!-- (These are unchanged from the base Suite, -->
  <!--                     but are used in attribute over-rides below) -->
  <!-- ============================================================= -->
  <!-- COMMON ATTRIBUTES -->
  <!--
    These lists of attributes will be added to 
    nearly every element, in both the document 
    metadata and the document body, of the entire 
    Tag Set:
      - including table elements for both the 
          XHTML-inspired and OASIS-inspired
          table model elements
      - excluding only <mml:math> and 
          <xi:include> (whose namespaces JATS
          does not control).
       Great care should be taken to use these
    attributes judiciously, not as a shortcut to
    thinking through where an attribute should be
    used. Potential use cases include adding
    @xml:lang or some RDFa attribute to every 
    elements.
  -->
  <!-- JATS BASE ATTRIBUTES -->
  <!--
    Holds all the common attributes except @id.
    Used to keep the two common attribute lists 
    in sync. To add a global attribute, modify
    this list.
  -->
  <!-- JATS COMMON ATTRIBUTES -->
  <!--
    Holds all the common attributes, as defined in
    the base attribute parameter entity, plus an
    optional @id.
  -->
  <!-- JATS COMMON ATTRIBUTES (ID REQUIRED) -->
  <!--
    Holds all the common attributes, as defined in
    the base attribute parameter entity, plus a 
    required @id.
  -->
  <!-- DISPLAY ATTRIBUTES -->
  <!--
    Attributes used for several of the block
    display elements
  -->
  <define name="display-atts">
    <optional>
      <attribute name="position" a:defaultValue="float">
        <choice>
          <value>anchor</value>
          <value>background</value>
          <value>float</value>
          <value>margin</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="orientation" a:defaultValue="portrait">
        <choice>
          <value>portrait</value>
          <value>landscape</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- XLINK LINK ATTRIBUTES -->
  <!--
    Attributes for any element that must be a
    link
  -->
  <define name="link-atts">
    <optional>
      <attribute name="xlink:type">
        <choice>
          <value>simple</value>
        </choice>
      </attribute>
    </optional>
    <attribute name="xlink:href"/>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- MIGHT LINK XLINK ATTRIBUTES -->
  <!--
    Attributes for any element that may be a link
    but need not be one
  -->
  <define name="might-link-atts">
    <optional>
      <attribute name="xlink:type">
        <choice>
          <value>simple</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:href"/>
    </optional>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- AWARD IDENTIFIER ATTRIBUTES -->
  <!-- Attributes for the <award-group> element -->
  <define name="award-id-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="award-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- DATE (HISTORICAL) ATTRIBUTES -->
  <define name="date-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="date-type"/>
    </optional>
    <optional>
      <attribute name="publication-format"/>
    </optional>
    <optional>
      <attribute name="iso-8601-date"/>
    </optional>
    <optional>
      <attribute name="calendar"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- FUNDING STATEMENT ATTRIBUTES -->
  <!--                     Attributes for the <funding-source> element -->
  <define name="funding-statement-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- INLINE GRAPHIC ATTRIBUTES -->
  <!--
    Attributes for Inline Graphic
    <inline-graphic>                         
    From Publishing.
  -->
  <define name="inline-graphic-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="baseline-shift"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="link-atts"/>
  </define>
  <!-- ISBN ATTRIBUTES -->
  <!-- Attributes for the <isbn> element -->
  <define name="isbn-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="publication-format"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- ISSN ATTRIBUTES -->
  <!-- Attribute list for the <issn> element -->
  <define name="issn-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="publication-format"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- PUBLICATION DATE ATTRIBUTES -->
  <!-- Attributes for the <pub-date> element -->
  <define name="pub-date-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="publication-format"/>
    </optional>
    <optional>
      <attribute name="date-type"/>
    </optional>
    <optional>
      <attribute name="iso-8601-date"/>
    </optional>
    <optional>
      <attribute name="calendar"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- PUBLICATION IDENTIFIER ATTRIBUTES -->
  <!-- Attributes for the <pub-id> element -->
  <define name="pub-id-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="pub-id-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- TITLE ATTRIBUTES -->
  <!--
    Attributes for the <title> element.
    JATS Chg: 
    1) Added @suppress: suppress this title
    for print or display.
    2) Added "display-as" used to skip title 
    levels.
    3) Show in ToC
  -->
  <define name="title-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="show-in-toc">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="suppress">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="display-as"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- TRANSLATED TITLE GROUP ATTRIBUTES -->
  <!--
    Attribute list for the <trans-title-group>
    Made xml:lang optional.
  -->
  <define name="trans-title-group-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- X(CROSS) REFERENCE ATTRIBUTES -->
  <!-- Attribute list for cross references -->
  <define name="xref-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="ref-type"/>
    </optional>
    <optional>
      <attribute name="alt"/>
    </optional>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
</grammar>
<!-- ================== End BITS Book Content/ATT Over-rides ===== -->
