extensions/bits-oasis/1.0/rng/BITS-question-answer1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    BITS Question and Answer Module -->
<!-- DATE:      December 2013 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD BITS Question and Answer Module v1.0 20131225//EN"
  Delivered as file "BITS-question-answer1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite -->
<!---->
<!-- PURPOSE:    Defines a model for questions, sets of questions, -->
<!-- and answers. This is a very basic model, expected -->
<!-- to be extended. NOTE: This is NOT a model for a -->
<!-- quiz, test, or exam; such a containing model -->
<!-- could be built using sections and the questions -->
<!-- answers defined in this module. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created as a superset customization -->
<!-- of the ANSI/NISO JATS Z39.96-2012 Version 1.0 -->
<!-- Journal Article Tag Set. -->
<!---->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of books or book-like -->
<!-- material for archiving and transferring -->
<!-- such material between archives or they may create -->
<!-- a custom XML DTD from the BITS Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and new DTD-specific customization -->
<!-- modules to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the BITS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Book Interchange Tag Suite (BITS). -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Book Interchange Tag Suite -->
<!-- (BITS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- May 2013 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National -->
<!-- National Center for Biotechnology Information -->
<!-- (NCBI), a center of the US National Library of -->
<!-- Medicine (NLM). -->
<!---->
<!-- The BITS Book Interchange DTD is built from the -->
<!-- Journal Archiving and Interchange DTD of the -->
<!-- ANSI/NISO Journal Article Tag Suite (JATS) -->
<!-- Version 1.1d1 (Z39.96-2012). -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- bits@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE VALUES -->
<!-- ============================================================= -->
<!-- TYPES OF ANSWERS -->
<!--
  Used to name the type of question or
  question set.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="answer-types">
    <choice>
      <value>essay</value>
      <value>fill-in-the-blank</value>
      <value>multi-select</value>
      <value>multiple-choice</value>
      <value>short-answer</value>
      <value>true-false</value>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- QUESTION WRAP ATTRIBUTES -->
  <!-- Attributes for the <question-wrap> element -->
  <define name="question-wrap-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="audience"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- QUESTION ATTRIBUTES -->
  <!-- Attributes for the <question> element -->
  <define name="question-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- ANSWER SET ATTRIBUTES -->
  <!-- Attributes for the <answer> element -->
  <define name="answer-set-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="answer-type">
        <choice>
          <ref name="answer-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- ANSWER ATTRIBUTES -->
  <!-- Attributes for the <answer> element -->
  <define name="answer-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="answer-type">
        <choice>
          <ref name="answer-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="correct">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- EXPLANATION ATTRIBUTES -->
  <!-- Attributes for the <explanation> element -->
  <define name="explanation-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- QUESTION/ANSWER ELEMENTS -->
  <!-- ============================================================= -->
  <!-- QUESTION WRAP MODEL -->
  <!--
    Content model for the <question-wrap>
    element.
  -->
  <define name="question-wrap-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="question"/>
    <optional>
      <choice>
        <ref name="answer"/>
        <ref name="answer-set"/>
      </choice>
    </optional>
    <zeroOrMore>
      <ref name="explanation"/>
    </zeroOrMore>
  </define>
  <!-- QUESTION WRAP -->
  <!--
    Used to model a Question/Answer scheme. These
    questions may be used, for example, for the
    Continuing Medical Education articles in a
    book of articles. The model allows for
    simple questions followed by their
    corresponding answers or for a multiple
    choice setup, where questions are followed
    by multiple alternative answers, along with
    the correct answer and an explanation.
    Note: This is not the model for a full
    quiz, test, exam, etc., but such a model
    could be built using these components for
    the question/answers.    
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=question-wrap
  -->
  <define name="question-wrap">
    <element name="question-wrap">
      <ref name="question-wrap-attlist"/>
      <ref name="question-wrap-model"/>
    </element>
  </define>
  <define name="question-wrap-attlist" combine="interleave">
    <ref name="question-wrap-atts"/>
  </define>
  <!-- QUESTION MODEL -->
  <!-- Content model for the <question> element. -->
  <define name="question-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <ref name="sec-opt-title-model"/>
  </define>
  <!-- QUESTION -->
  <!--
    A question (request for an answer) used in
    the text or as part of a quiz, exam, etc. 
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=question
  -->
  <define name="question">
    <element name="question">
      <ref name="question-attlist"/>
      <ref name="question-model"/>
    </element>
  </define>
  <define name="question-attlist" combine="interleave">
    <ref name="question-atts"/>
  </define>
  <!-- ANSWER SET MODEL -->
  <!--                     Content model for the <answer-set> element. -->
  <define name="answer-set-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <oneOrMore>
      <choice>
        <ref name="answer"/>
        <ref name="just-para.class"/>
        <ref name="explanation"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- ANSWER SET -->
  <!--
    A series of answers, typically in response
    to a question.                            
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=answer-set
  -->
  <define name="answer-set">
    <element name="answer-set">
      <ref name="answer-set-attlist"/>
      <ref name="answer-set-model"/>
    </element>
  </define>
  <define name="answer-set-attlist" combine="interleave">
    <ref name="answer-set-atts"/>
  </define>
  <!-- ANSWER MODEL -->
  <!-- Content model for the <answer> element. -->
  <define name="answer-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="subtitle"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="alt-title"/>
    </zeroOrMore>
    <choice>
      <oneOrMore>
        <ref name="sec-level"/>
      </oneOrMore>
      <group>
        <oneOrMore>
          <ref name="para-level"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="sec-level"/>
        </zeroOrMore>
      </group>
    </choice>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="explanation"/>
    </zeroOrMore>
  </define>
  <!-- ANSWER ELEMENTS -->
  <!--
    An answer to a question                    
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=answer
  -->
  <define name="answer">
    <element name="answer">
      <ref name="answer-attlist"/>
      <ref name="answer-model"/>
    </element>
  </define>
  <define name="answer-attlist" combine="interleave">
    <ref name="answer-atts"/>
  </define>
  <!-- EXPLANATION MODEL -->
  <!--                     Content model for the <answer-set> element. -->
  <define name="explanation-model">
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- EXPLANATION -->
  <!--
    A description of a question/answer or of just
    an answer or answer set. The explanation
    may describe, for example, why this 
    particular answer is incorrect, or where in 
    the text the material for this question
    can be found, et al.
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=explanation
  -->
  <define name="explanation">
    <element name="explanation">
      <ref name="explanation-attlist"/>
      <ref name="explanation-model"/>
    </element>
  </define>
  <define name="explanation-attlist" combine="interleave">
    <ref name="explanation-atts"/>
  </define>
</grammar>
<!-- ================== End BITS Question and Answer Module ====== -->
