extensions/bits/1.0/rng/BITS-index1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    BITS Structural Index Elements Module -->
<!-- VERSION:   BITS 1.0 -->
<!-- DATE:      December 2013 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD BITS Structural Index Elements Module v1.0 20131225//EN"
  Delivered as file "BITS-index1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Book Interchange Tag Suite -->
<!---->
<!-- PURPOSE:    Defines the elements, attributes, and parameter -->
<!-- entities specific for a structural Index. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created as a superset customization -->
<!-- of the ANSI/NISO JATS Z39.96-2012 Version 1.0 -->
<!-- Journal Article Tag Set. -->
<!---->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of books or book-like -->
<!-- material for archiving and transferring -->
<!-- such material between archives or they may create -->
<!-- a custom XML DTD from the BITS Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and new DTD-specific customization -->
<!-- modules to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the BITS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the Book Interchange Tag Suite (BITS). -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the Book Interchange Tag Suite -->
<!-- (BITS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- April 2012 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the National -->
<!-- National Center for Biotechnology Information -->
<!-- (NCBI), a center of the US National Library of -->
<!-- Medicine (NLM). -->
<!---->
<!-- The BITS Book Interchange DTD is built from the -->
<!-- Journal Archiving and Interchange DTD of the -->
<!-- ANSI/NISO Journal Article Tag Suite (JATS) -->
<!-- Version 1.1d1 (Z39.96-2012). -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- bits@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- INDEX GROUP ATTRIBUTES -->
<!-- Attributes for the <index-group> element -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="index-group-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- INDEX DIVISION ATTRIBUTES -->
  <!-- Attributes for the <index-div> element -->
  <define name="index-div-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- INDEX ATTRIBUTES -->
  <!-- Attributes for the <index> element -->
  <define name="index-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="index-type"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- INDEX ENTRY ATTRIBUTES -->
  <!-- Attributes for the <index-entry> element -->
  <define name="index-entry-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="sort-key"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- SEE ENTRY ATTRIBUTES -->
  <!-- Attributes for the <see-entry> element -->
  <define name="see-entry-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- SEE ALSO ENTRY ATTRIBUTES -->
  <!--                     Attributes for the <see-also-entry> element -->
  <define name="see-also-entry-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- TOP-LEVEL INDEX ELEMENTS -->
  <!-- ============================================================= -->
  <!-- INDEX GROUP MODEL -->
  <!--
    Content model for the Structural Index Group
    <index-group> element.
  -->
  <define name="index-group-model">
    <optional>
      <ref name="title-group"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="index.class"/>
    </oneOrMore>
  </define>
  <!-- INDEX GROUP -->
  <!--
    Collection of one or more Indexes.
    Collected Indexes need not be grouped into
    this element. This is a presentational model.
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=index-group
  -->
  <define name="index-group">
    <element name="index-group">
      <ref name="index-group-attlist"/>
      <ref name="index-group-model"/>
    </element>
  </define>
  <define name="index-group-attlist" combine="interleave">
    <ref name="index-group-atts"/>
  </define>
  <!-- INDEX MODEL -->
  <!--
    Content model for the Structural Index
    <index> element.
  -->
  <define name="index-model">
    <optional>
      <ref name="title-group"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level-minus-x"/>
    </zeroOrMore>
    <oneOrMore>
      <choice>
        <ref name="index-entry.class"/>
        <ref name="index-div.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- INDEX -->
  <!--
    Structural, multi-level index, typically used
    for capturing a back-of-the-book or similar
    index that is already present in a book being 
    converted to this Tag Set, although it may 
    also be used for indexes generated from index 
    terms set within the text. 
    This is a presentational model.
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=index
  -->
  <define name="index">
    <element name="index">
      <ref name="index-attlist"/>
      <ref name="index-model"/>
    </element>
  </define>
  <define name="index-attlist" combine="interleave">
    <ref name="index-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- INDEX COMPONENT ELEMENTS -->
  <!-- ============================================================= -->
  <!-- INDEX ENTRY MODEL -->
  <!--
    Content model for the Structural Index
    <index-entry> element.
  -->
  <define name="index-entry-model">
    <ref name="term"/>
    <zeroOrMore>
      <ref name="struct-link.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="index-entry.class"/>
        <ref name="see-also-see-entry.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- INDEX ENTRY -->
  <!--
    One entry, with all its subdivisions,
    see and see also, and navigational pointers
    (if any) in a structural index.
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=index-entry
  -->
  <define name="index-entry">
    <element name="index-entry">
      <ref name="index-entry-attlist"/>
      <ref name="index-entry-model"/>
    </element>
  </define>
  <define name="index-entry-attlist" combine="interleave">
    <ref name="index-entry-atts"/>
  </define>
  <!-- INDEX DIVISION MODEL -->
  <!--
    Content model for the Structural Index
    <index-entry> element.
  -->
  <define name="index-div-model">
    <optional>
      <ref name="title-group"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level-minus-x"/>
    </zeroOrMore>
    <oneOrMore>
      <choice>
        <ref name="index-entry.class"/>
        <ref name="index-div.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- INDEX DIVISION -->
  <!--
    Division, typically for the purposes of
    display, in a structural index, for example
    a division holding the heading "A" and
    all of the initial alphabetically
    arranged index entries.
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=index-div
  -->
  <define name="index-div">
    <element name="index-div">
      <ref name="index-div-attlist"/>
      <ref name="index-div-model"/>
    </element>
  </define>
  <define name="index-div-attlist" combine="interleave">
    <ref name="index-div-atts"/>
  </define>
  <!-- SEE INDEX ENTRY TERM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <see-entry> element.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="see-entry-elements">
    <choice>
      <ref name="simple-phrase"/>
      <ref name="block-math.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- SEE INDEX ENTRY -->
  <!--
    A See (meaning use as preferred) entry in a
    structural index.
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=see-entry
  -->
  <define name="see-entry">
    <element name="see-entry">
      <ref name="see-entry-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="see-entry-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="see-entry-attlist" combine="interleave">
    <ref name="see-entry-atts"/>
  </define>
  <!-- SEE-ALSO INDEX ENTRY TERM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <see-also-entry> element.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="see-also-entry-elements">
    <choice>
      <ref name="simple-phrase"/>
      <ref name="block-math.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- SEE-ALSO INDEX ENTRY -->
  <!--
    A See Also (meaning see related) entry in a
    structural index.
    Details at:
    http://jats.nlm.nih.gov/extensions/bits/1.0/index.html?elem=see-also-entry
  -->
  <define name="see-also-entry">
    <element name="see-also-entry">
      <ref name="see-also-entry-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="see-also-entry-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="see-also-entry-attlist" combine="interleave">
    <ref name="see-also-entry-atts"/>
  </define>
</grammar>
<!-- ================== End BITS Structural Index Elements ======= -->
